<h1>Listing conferencia</h1>

<table>
  <tr>
    <th>Tema</th>
    <th>Conferencista</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @conferencia.each do |conferencium| %>
  <tr>
    <td><%= conferencium.tema %></td>
    <td><%= conferencium.conferencista %></td>
    <td><%= link_to 'Show', conferencium %></td>
    <td><%= link_to 'Edit', edit_conferencium_path(conferencium) %></td>
    <td><%= link_to 'Destroy', conferencium, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Conferencium', new_conferencium_path %>
